@import "variables";
@import "paginaDetalles";

// globales
html {
  font-size: 62.5%;  //esto da a 10px = 1rem
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $negro;
}
a {
  text-decoration: none;
}


header {
  text-align: center;
  background-color: $verde;
}
